{% extends '../dashboard-layout.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Hello {{ user.usename }}</h5>
                <div class="card-text">
                    <p><b>Count Users: </b><span>0</span></p>
                </div>
                <a href="/admin/users" class="btn btn-primary">Go Users</a>
            </div>
        </div>
    </div>
{% endblock %}