{% extends '../dashboard-layout.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <h2>{{ title }}</h2></div>
        <div class="col-md-4 text-right">
            <a href="#" class="btn btn-info">Add new Media</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div>          
    </div>
    
{% endblock %}