{% extends '../dashboard-layout.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <h2>{{ title }}</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <!-- Settings -->
        </div>          
    </div>
    
{% endblock %}
