{% extends './layout.twig' %}

{% block body %}
   <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">{{title}}</h1>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
    </main>
{% endblock %}
