{% extends './layout.twig' %}

{% block body %}
   <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">{{title}}</h1>
      <p class="lead">Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
      <a href="/blog" class="btn btn-success">Go to Blog</a>
    </main>
{% endblock %}
