
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/vendor/bootstrap/bootstrap.min.css' />

    <!-- Style -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body>

    {% block body %}{% endblock %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
  </body>
</html>
